ul.contacts__list
    li.contacts__item.contacts__item-skype 79852882808@yandex.ru
    li.contacts__item.contacts__item-mail 79852882808@yandex.ru
    li.contacts__item.contacts__item-phone +7 985 288 28 08
    li.contacts__item.contacts__item-address г. Чехов ул. Земская д. 6