footer.footer
        .footer__container
                .footer__description 
                        p.footer__description-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                .footer__block-center
                        include ./menu.pug 
                        include ./social.pug
                ul.contacts__list_footer
                        li.contacts__item_footer 79852882808@yandex.ru
                        li.contacts__item_footer 79852882808@yandex.ru
                        li.contacts__item_footer +7 985 288 28 08
                        li.contacts__item_footer г. Чехов ул. Земская д. 6
        .footer__text_main © #{name}  | создано с любовью в LoftSchool | 2018