header.header
        .header__up-container
            include ../common/social.pug
            svg.hamburger(width="40" height="40")
                use(xlink:href="./assets/sprites/sprite.svg#hamburger")
        .photo.photo_header
        .header__title #{name}
        .header__text #{downNameText}
        svg.header__bg
            use(xlink:href="./assets/sprites/sprite.svg#bg")