header.header
        .header__socials
            +socials
        .header__menu.hamburger
        .header__title
            .header__user.user
                .user__pic
                    img(src="./assets/images/ava.jpg", alt="My photo").user__pic-img
                .user__description
                    .user__name #{name}
                    .user__info #{downNameText}
            .header__figure.stars_1
            .header__scroll-btn_work.arrow-down
        .header__rectangle.header__rectangle-dark
            .header__rectangle-title.big-title Мои работы
            .header__rectangle-figure.stars2