section.map
        .map__center.contacts
            .map__title.subtitle Контакты
            ul.contacts__list.map__list
                li.map__item.contacts__item.contacts__item-skype skype_kdn
                li.map__item.contacts__item.contacts__item-mail 79852882808@yandex.ru
                li.map__item.contacts__item.contacts__item-phone +7 985 288 28 08
                li.map__item.contacts__item.contacts__item-address г. Чехов ул. Земская д. 6
        .map__google#googleMap
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwXItXdBwYG7xJ7I7wuNzUoKve-t0oYMs&callback=initMap")