.preloader_active#preloader
        svg.preloader__svg_active#preloaderSvg
            circle.preloader__circle.preloader__circle_big(r="35" cx="40" cy="40" fill="none" stroke="#fff")
            circle.preloader__circle.preloader__circle_middle(r="30" cx="40" cy="40" fill="none" stroke="#fff")
            circle.preloader__circle.preloader__circle_little(r="25" cx="40" cy="40" fill="none" stroke="#fff")
        .preloader__text_active#preloaderText 0%