ul.slider#slides
    li.slider__item
        img.slider__img(src="", alt="")
    li.slider__item
        img.slider__img(src="", alt="")
    li.slider__item
        img.slider__img(src="", alt="")
    li.slider__item
        img.slider__img(src="", alt="")
.buttons
    button.controls#previous &lt;
    button.controls#next &gt;