ul.social
    li.social__item
        a.social__link.social__link-in(href="https://github.com/andrey-goryachev")
            svg.social__pic(width="50" height="50")
                use(xlink:href="./assets/sprites/sprite.svg#vk") 
    li.social__item
        a.social__link.social__link-vk(href="https://vk.com/ag_888")
            svg.social__pic(width="50" height="50")
                use(xlink:href="./assets/sprites/sprite.svg#github") 
    li.social__item
        a.social__link.social__link-git(href="https://github.com/andrey-goryachev")
            svg.social__pic(width="50" height="50")
                use(xlink:href="./assets/sprites/sprite.svg#in") 
