ul.social
    li.social__item
        a.social__link.social__link-vk(href="https://vk.com/ag_888")
    li.social__item
        a.social__link.social__link-git(href="https://github.com/andrey-goryachev")
    li.social__item
        a.social__link.social__link-in(href="https://github.com/andrey-goryachev")