extends ../template

block variables
    - var title = 'Обо мне'
    - var name = 'Андрей Горячев'
    - var downNameText = 'Личный сайт веб-разработчика'

block content
    +header('Андрей Горячев', 'Личный сайт веб-разработчика', 'normal')
    section.about#about
        .about__left
            .about__left-left
                .about__left-title.big-title Обо мне
            .about__left-right
                .about__photo 
                    img.user__pic-img_big(src="./assets/images/ava-big.jpg", alt="My photo")
                .about__left-right-title.subtitle Кто я
                .about__left-right-text.about-text
                    p Я веб разработчик из Чехова. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!    
        .about__right
            .about__right-title.subtitle Чем я могу быть вам полезен
            .about__right-text.about-text
                p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
            .about__right-content
                ul.skills-list#skills-list
                    li.skills-list__item
                        .skills-row
                            .skills-row__title Frontend
                            ul.skills-row__list
                                +skill('skill-90', 'HTML5')
                                +skill('skill-80', 'CSS3')
                                +skill('skill-50', 'JavaScript')
                    li.skills-list__item
                        .skills-row
                            .skills-row__title Backend
                            ul.skills-row__list
                                +skill('skill-10', 'PHP')
                                +skill('skill-10', 'mySQL')
                                +skill('skill-20', 'Node.js & npm')
                                +skill('skill-90', 'Mongo.db')
                    li.skills-list__item
                        .skills-row
                            .skills-row__title Workflow
                            ul.skills-row__list
                                +skill('skill-80', 'Git')
                                +skill('skill-80', 'Gulp')
                                +skill('skill-70', 'Bower')

    include ../common/map
    +footer

