extends ../template

block variables
    - var title = 'Обо мне'
    - var name = 'Андрей Горячев'
    - var downNameText = 'Личный сайт веб-разработчика'
    -   
        var skillsTitles = [
            'Frontend',
            'Backend',
            'Workflow',
        ]
        //- умения фронт
        var nameSkillsFront = [
            'HTML5',
            'CSS3',
            'JavaScript',
        ]
        var skillsFront = [
            '90',
            '80',
            '50',
        ]
        //- умения бэк
        var nameSkillsBack = [
            'PHP',
            'mySQL',
            'Node.js & npm',
            'Mongo.db',
        ]
        var skillsBack = [
            '10',
            '10',
            '20',
            '90',
        ]
        //- умения с рабочим окружением
        var nameSkillsWF = [
            'Git',
            'Gulp',
            'Bower',
        ]
        var skillsWF = [
            '80',
            '80',
            '70',
        ]

block content
    +header('Андрей Горячев', 'Личный сайт веб-разработчика', 'normal')
    section.about#about
        .about__left
            .about__left-left
                .about__left-title.big-title Обо мне
            .about__left-right
                .about__photo 
                    img.user__pic-img_big(src="./assets/images/ava-big.jpg", alt="My photo")
                .about__left-right-title.subtitle Кто я
                .about__left-right-text.about-text
                    p Я веб разработчик из Чехова. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!    
        .about__right
            .about__right-title.subtitle Чем я могу быть вам полезен
            .about__right-text.about-text
                p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
            .about__right-content
                ul.skills-list#skills-list
                    each item, i in skillsTitles
                        li.skills-list__item
                            .skills-row
                                .skills-row__title= item
                                ul.skills-row__list
                                    if (i == 0)
                                        each item, i in skillsFront
                                            +skill('skill-'+item, nameSkillsFront[i])
                                    else if (i == 1)
                                        each item, i in skillsBack
                                            +skill('skill-'+item, nameSkillsBack[i])
                                    else if (i == 2)
                                        each item, i in skillsWF
                                            +skill('skill-'+item, nameSkillsWF[i])
    include ../common/map
    +footer

