extends ../template

block variables
    - var title = 'Обо мне'
    - var name = 'Андрей Горячев'
    - var downNameText = 'Личный сайт веб-разработчика'


    include ../common/header.pug

block content
    .about
        .about__block-title
            .about__title Обо мне
        .photo.photo_about
        .about__block-whois
            h2.about__h2 Кто я
            p.about__text Я веб разработчик из Чехова. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
            p.about__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
        .about__block-skills
            h2.about__h2 Чем я могу быть вам полезен
            p.about__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
            ul.diagram-list
                li.diagram__item
                    h3.diagram__item-title Frontend
                    ul.diagram__pic-list
                        li.pic-item
                        li.pic-item
                        li.pic-item
                        li.pic-item
                li.diagram__item
                    h3.diagram__item-title Backend
                    ul.diagram__pic-list
                        li.pic-item
                        li.pic-item
                        li.pic-item
                        li.pic-item
                li.diagram__item
                    h3.diagram__item-title WorkFlow
                    ul.diagram__pic-list
                        li.pic-item
                        li.pic-item
                        li.pic-item
                        li.pic-item
    .map
        .contacts
            h2.about__h2 Контакты
            include ../common/contacts.pug
    include ../common/footer.pug


