extends ../template

block variables
    - var title = 'Блог'
    - var name = 'Блог'
    - var downNameText = 'Статьи которые я написал'
    
block content
    header.header
        .header__socials
            ul.social
                li.social__item
                    a.social__link.social__link-vk(href="https://vk.com/ag_888" target="_blank")
                li.social__item
                    a.social__link.social__link-git(href="https://github.com/andrey-goryachev" target="_blank")
                li.social__item
                    a.social__link.social__link-in(href="https://github.com/andrey-goryachev" target="_blank")
        .header__menu.hamburger
        .header__title
            .header__user.user
                .user__pic
                    img(src="./assets/images/ava.jpg", alt="My photo").user__pic-img
                .user__description
                    .user__name.big-title #{name}
                    .user__info #{downNameText}
            .header__figure.stars_1
        .header__scroll-btn.arrow-down
        .header__rectangle
            svg.header__polygon(viewbox="0 0 1000 85" preserveaspectratio="none")
                polygon.header__polygon-left_blog(points="0,0   0,86   500.8,86   500.8,75.5")
                polygon.header__polygon-right_blog(points="1000,0   1000,86   500,86   500,75.5")
    section.blog
        ul.blog_nav.nav
            li.nav__item
                a.nav__link.nav__link-active(href="") Самое важное в SASS
            li.nav__item
                a.nav__link(href="") Приёмы в вёрстке, без которых не обходится ни один сайт
            li.nav__item
                a.nav__link(href="") Самый необходимый набор плагинов Gulp
            li.nav__item
                a.nav__link(href="") Почему я выбрал Pug
            li.nav__item
                a.nav__link(href="") Рандомный текст

        ul.blog__list
            li.blog__item
                h2.blog__item-title Самое важное в SASS
                .blog__item-date
                    p 22 ноября 2016
                .blog__item-text
                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            li.blog__item
                h2.blog__item-title Приёмы в вёрстке, без которых не обходится ни один сайт
                .blog__item-date
                    p 13 декабря 2016
                .blog__item-text
                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            li.blog__item
                h2.blog__item-title Самый необходимый набор плагинов Gulp
                .blog__item-date
                    p 18 февраля 2017
                .blog__item-text
                    p Таким образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом новая модель организационной деятельности позволяет оценить значение соответствующий условий активизации. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Товарищи! рамки и место обучения кадров требуют определения и уточнения форм развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание форм развития. 
                    p Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет выполнять важные задания по разработке модели развития. Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание систем массового участия. Товарищи! консультация с широким активом представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
            li.blog__item
                h2.blog__item-title Почему я выбрал Pug
                .blog__item-date
                    p 18 марта 2017
                .blog__item-text
                    p Идейные соображения высшего порядка, а также реализация намеченных плановых заданий представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Равным образом постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                    p Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. С другой стороны дальнейшее развитие различных форм деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.
            li.blog__item
                h2.blog__item-title Рандомный текст
                .blog__item-date
                    p 18 апреля 2017
                .blog__item-text
                    p Таким образом начало повседневной работы по формированию позиции играет важную роль в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Не следует, однако забывать, что рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий.
                    p Таким образом начало повседневной работы по формированию позиции играет важную роль в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Не следует, однако забывать, что рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий.
        .blog__clear

    footer.footer.footer_no-negative-margin
        .footer__row-first.footer__row-first_no-opacity
            .footer__row-first__left 
                .footer__description-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
            .footer__row-first-center
                    ul.footer__menu.menu
                        li.footer__menu-item.menu__item
                            a.menu__link(href="my-works.html") Мои работы
                        li.footer__menu-item.menu__item
                            a.menu__link(href="about.html") Обо мне
                        li.footer__menu-item.menu__item
                            a.menu__link(href="blog.html") Блог
                        li.footer__menu-item.menu__item
                            a.menu__link(href="index.html") Авторизация 
                    ul.footer__social.social
                        li.social__item
                            a.social__link.social__link-vk(href="https://vk.com/ag_888" target="_blank")
                        li.social__item
                            a.social__link.social__link-git(href="https://github.com/andrey-goryachev" target="_blank")
                        li.social__item
                            a.social__link.social__link-in(href="https://github.com/andrey-goryachev" target="_blank")
            .footer__row-first__right
                ul.contacts__list_footer
                        li.contacts__item_footer skype_kdn
                        li.contacts__item_footer 79852882808@yandex.ru
                        li.contacts__item_footer +7 985 288 28 08
                        li.contacts__item_footer г. Чехов ул. Земская д. 6
            
        .footer__row-second.footer__row-second_no-opacity 
            .footer__row-second__text © Андрей Горячев | создано с любовью в LoftSchool | 2018