extends ../template

block variables
    - var title = 'Мои работы'

block content
    +header('Андрей Горячев', 'Личный сайт веб-разработчика', 'works', 'works', '')
    section.works#works
        .works-container-left
            ul.works-desc__list
                li.works-desc__item.works-desc__item-active
                    .works-desc__title.subtitle Сайт школы онлайн образования
                    .works-desc__text Html, Css, Javascipt
                    a.works-desc__link(href="https://loftschool.com/") Посмотреть сайт
                li.works-desc__item
                    h2.works-desc__title Сайт 2
                    .works-desc__text Html, Css, Javascipt
                    a.works-desc__link(href="https://yandex.ru/") Посмотреть сайт
                li.works-desc__item
                    h2.works-desc__title Сайт 3
                    .works-desc__text Html, Css, Javascipt
                    a.works-desc__link(href="https://vk.com/") Посмотреть сайт
                li.works-desc__item
                    h2.works-desc__title Сайт 4
                    .works-desc__text Html, Css, Javascipt
                    a.works-desc__link(href="https://mail.ru/") Посмотреть сайт
        .works-container-right      
            ul.slider#slides
                li.slider__item.slider__item-active
                    img.slider__img(src="./assets/images/work-1.png", alt="")
                li.slider__item
                    img.slider__img(src="./assets/images/work-2.png", alt="")
                li.slider__item
                    img.slider__img(src="./assets/images/work-3.png", alt="")
                li.slider__item
                    img.slider__img(src="./assets/images/work-4.png", alt="")
        .works-buttons
            .works-buttons__left.controls#previous
                .btn-arrow-down
            .works-buttons__right.controls#next
                .btn-arrow-up
    section.comments
        .comments__title.big-title Что обо мне говорят
        ul.comments__list
            li.comments__item
                img.comments__photo(src="../assets/images/dima.jpg", alt="dima")
                .comments__item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .comments__item-author Ковальчук Дмитрий
                .comments__item-position  — основатель Loftschool
            li.comments__item
                img.comments__photo(src="../assets/images/vova.jpg", alt="vova")
                .comments__item-text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                .comments__item-author Сабанцев Владимир
                .comments__item-position — преподаватель
        .comments__wrap-form 
            form.comments-form.feedback(action="")
                .comments-form__title.subtitle Связаться со мной
                input.comments-form__txt-style.comments-form__text(type="text", name="", placeholder="Ваше имя")
                input.comments-form__txt-style.comments-form__email(type="email", name="", placeholder="Ваш e-mail")
                textarea.comments-form__txt-style.comments-form__message(name="", placeholder="Ваше сообщение")
            ul.comments-form__btn-list
                li.comments-form__btn-item
                    input.comments-form__btn(type="button", value="Отправить") 
                li.comments-form__btn-item
                    input.comments-form__btn(type="button", value="Очистить") 
        .comments-scroll-btn
            .arrow-up#works__btn-up
    +footer