.about {
    color: $gray;
}
.big-title {
    font: 63px SansusWebissimo;
}
.about__photo {
    text-align: center;
}
.user__pic-img_big {
    width: 330px;
    height: 330px;
}

.subtitle {
    font: 35px SansusWebissimo;
    text-transform: uppercase;
    
}
.about-text {
    font: 16px Roboto-Regular;
    text-align: left;
}

.diagram__item {
    list-style: none;
}
.diagram__item-title {
    font: 28px Roboto-Medium;
    text-align: left;
}
.diagram__pic-list {
    list-style: none;
}
.map {
    height: 800px; //потом удалить
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
}
.contacts {
    width: 580px;
    text-align: center;
    padding: 0 15px 15px 15px;
}