.about {
    color: $gray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    margin-top: -180px;
    
}
.about__left {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 25px;
    margin-right: -1px;
    background: url(../sprites/about_bg_left.svg) no-repeat ;
    background-position: 100% 0;
    background-color: transparent;
    background-size: cover;
    padding-top: 180px;
}
.about__left-left {
    flex: 1;
    position: relative;
}
.big-title {
    font: 63px SansusWebissimo;
}
.about__left-title {
    text-align: center;
}


.about__left-right {
    flex: 1;
}
.about__photo {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.user__pic-img_big {
    width: 100%;
    height: 100%;
}
.about__left-right-title {
    text-align: center;
}
.subtitle {
    font: 35px SansusWebissimo;
    text-transform: uppercase;
    &:after {
        content: " ";
        display: block;
        margin: 20px auto 0;
        width: 90px;
        border-bottom: 3px solid $gray;
    }
}
.about__left-right-text {
    padding-top: 12px;
}
.about-text {
    font: 16px Roboto-Regular;
    text-align: left;
    line-height: 1.5;
}
.about__right {
    flex: 1;
    padding-left: 25px;
    //background-color: #eae8e2;
        background: url(../sprites/about_bg_right.svg) no-repeat; //background-color: #f2f0e8;
        //background-position: 0 -180px;
        background-position: 0 3px;
        background-color: transparent;
        background-size: cover; //margin-top: 180px;
        padding-top: 180px;
}
.about__right-title {
    text-align: center;
    width: 280px;
    margin: 0 auto;
}
.about__right-text{
    padding-top: 12px;
}

.skills-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.skills-row__title {
    font: 28px Roboto-Medium;
    text-align: left;
}
.skills-row__list {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.skills-row__item {
    flex: 1;
}
.skill {
    width: 120px;
    height: 120px;
}
.skill__title {
    color: #243994;
    font: 14px Roboto-Medium;
}


.map {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $gray;
}
.contacts {
    width: 580px;
    height: 285px;
}
.map {
    position: relative;
}
.map__center {
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba($color: #fff, $alpha: .5)
}
.map__google {
    width: 100%;
}
.map__title {
    margin-bottom: 30px;
}
.map__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    height: 130px;
}
.map__item {
    width: 260px;
    height: 50px;
    box-sizing: border-box;
}