.wrapper-index {
    width: 100%;
    min-height: 100%;
    background: url(../images/welcome-bg.jpg) no-repeat bottom center;
    background-size: cover;
    color: #fff;
    font-family: Roboto-Regular;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px 43px 100px;
    box-sizing: border-box;
}
.off {
    display: none
}

// welcome
.btn-auth {
    color: #fff;
    font: 16px Roboto-Medium;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 12px 28px;
    align-self: flex-end;
    &:hover {
        background-color: $blueLight;
        border-color: $blueLight;
        cursor: pointer;
    }
}
.welcome {
    width: 380px;
}
.welcome-wrap {
    background-color: rgba($color: $gray, $alpha: .5);
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.photo {
    width: 140px;
    height: 140px;
    background: url(../images/ava.jpg) no-repeat center center / contain;
    border-radius: 50%;
    margin-bottom: 10px;
}
.welcome__title {
    font: 32px Roboto-Medium;
    margin: 0 0 10px;
}
.welcome__text {
    margin-bottom: 30px;
}

@import '../common/social.scss';

.menu-welcome {
    list-style: none;
    font: 1rem Roboto-Medium;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.menu-welcome__btn {
    flex: 1;
    border-right: 2px solid #7296d3;
    &:last-child {
        border-right: none;
    }
}

.menu-welcome__link {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: $blueLight;
    &:hover {
        background-color: $blue;
    };
    height: 45px;
    line-height: 45px;
    text-align: center;
}



// authorization

.auth-wrap {
    width: 380px;
}

.auth {    
    background-color: rgba($color: $gray, $alpha: .5);
    padding: 35px 20px;
    box-sizing: border-box;
}
.auth__title {
    font: 35px SansusWebissimo;
    text-align: center;
    margin: 0 0 33px 0;
    text-transform: uppercase;
}

.form-auth__wrap-input {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.form-auth__pic_login {
    background: url(../sprites/login.svg) no-repeat center center;
}
.form-auth__pic_password {
    background: url(../sprites/password.svg) no-repeat center center;
}
.form-auth__pic {
    width: 14%;
    height: 45px;
    background-color: #f0efe9;
}
.form-auth__txt {
    width: 86%;
    height: 45px;
    border: none;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    outline: none;
}
.form-auth__wrap-check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.form-auth__check {
    display: none;
}
.form-auth__check-custom {
    position: relative;
    // display: inline-block;
    // vertical-align: middle;
	width: 20px;
    height: 20px;
    background-color: $blueLight;
    border-radius: 2px;
    margin-right: 10px;
}
.form-auth__check:checked + .form-auth__check-custom::before {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    background: url(../sprites/check.svg) no-repeat center center / contain;

}

.form-auth__question {
    font: 16px Roboto-Bold;
    text-align: center;
    margin-bottom: 10px;
}
.form-auth__wrap-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    margin: 0 auto 5px;
}
.form-auth__radio {
    display: none;
}
.form-auth__radio-custom {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.form-auth__radio-txt {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.form-auth__radio:checked + .form-auth__radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
    background-color: $blueLight;
    border-radius: 50%;
}

.form-auth__btn-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.form-auth__btn-item {
    flex: 1;
    border-right: 2px solid #7296d3;
    &:last-child {
        border-right: none;
    }
}
.form-auth__btn-link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font: 16px Roboto-Medium;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: $blueLight;
    &:hover {
        background-color: $blue;
    }
    box-sizing: border-box;
}

@import '../common/footer.scss';