.works {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.works-container-left {
    flex: 1;
}
.works-desc__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-desc__item {
    display: none;
}
.works-desc__item-active {
    display: block;
    text-align: center;
}
.works-desc__title {
    display: inline-block;
    color: $gray;
    text-align: center;
    text-transform: uppercase;
    width: 320px;
    margin: 0 0 25px 0;
}
.works-desc__text {
    color: $blue;
    font: 1rem Roboto-Medium;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 60px;
}
.works-desc__link {
    display: inline-block;
    text-decoration: none;
    font: 1rem Roboto-Medium;
    color: #fff;
    background: url(../sprites/link.svg) no-repeat 16px center / 20px 20px ;
    background-color: $blueLight;
    padding: 15px 20px 15px 50px;
}
.works-container-right {
    flex: 1;
}

.comments {
    background: url(../images/what-about-bg.jpg) no-repeat center center / cover;
    color: #fff;
    padding: 70px 0 180px 0;
}
.comments__title {
    text-align: center;
    width: 370px;
    margin: 0 auto;
}
.comments__list {
    list-style: none;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 70px 0;
    padding: 20px;
    box-sizing: border-box;
}
.comments__item {
    width: 380px;
    font: 1rem Roboto-Italic;
    line-height: 26px;
}

.comments__photo {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.comments__item-text {
    margin-bottom: 30px;
}
.comments__item-author {
    font: 1rem Roboto-BoldItalic;
}

//form

.comments__wrap-form {
    width: 380px;
    margin: 0 auto;
}

.comments-form {
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba($color: $gray, $alpha: .1);
}

.comments-form__title {
    text-align: center;
    margin-bottom: 30px;
}

.comments-form__txt-style {
    background-color: rgba($color: $gray, $alpha: .2);
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font: 1rem Roboto-Regular;
    border: none;
    color: #fff;
    outline: none;
}
.comments-form__text {
    
    height: 45px;
    margin-bottom: 20px;
}
.comments-form__email {
    margin-bottom: 20px;
    height: 45px;
}
.comments-form__message {
    height: 130px;
    resize: none;
}
 // buttons

.comments-form__btn-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}
.comments-form__btn-item {
    width: 50%;
}
.comments-form__btn {
    background-color: rgba($color: $gray, $alpha: .1);
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font: 1rem Roboto-Regular;
    border: none;
    color: #fff;
    outline: none;
    &:hover {
        background-color: $blueLight;
        cursor: pointer;
    }
}


.comments-scroll-btn {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-up {
    width: 30px;
    height: 20px;
    background: url(../sprites/arrow_up.svg) no-repeat center center / 30px 20px;
    &:hover {
        cursor: pointer;
    }
}
