
.contacts__list {
    list-style: none;
    font: 16px Roboto-Medium;
    padding: 0;
    margin: 0;

}
.contacts__item {
    text-align: left;
}

.contacts__item-skype {
    line-height: 50px;
    padding-left: 55px;
    background: url(../sprites/skype.svg) no-repeat left center;
    background-size: 45px 45px;
}
.contacts__item-mail {
    line-height: 50px;
    padding-left: 55px;
    background: url(../sprites/mail.svg) no-repeat left center;
    background-size: 45px 45px;
}
.contacts__item-phone {
    line-height: 50px;
    padding-left: 55px;
    background: url(../sprites/phone.svg) no-repeat left center;
    background-size: 45px 45px;
}
.contacts__item-address {
    line-height: 50px;
    padding-left: 55px;
    background: url(../sprites/map_n.svg) no-repeat left center;
    background-size: 45px 45px;
}