
.footer {
    height: 185px;
    margin-top: -185px;
    position: relative;
}

.footer_no-negative-margin {
    margin-top: 0;
}

.footer__row-first {
    font: 16px Roboto-Light;
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
    box-sizing: border-box;
    height: 150px;
}
.footer__row-first_no-opacity {
    background-color: #3d3f47;
}
.footer__row-first__left {
    flex: 1;
    padding-left: 30px;
}
.footer__description-text {
    width: 85%;
}
.footer__row-first-center {
    flex: 1;
    padding-left: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    &:before {
        content: " ";
        display: block;
        width: 1px;
        height: 87px;
        border-right: 3px solid #63656d;
        position: absolute;
        right: 100%;
    }
    &:after {
        content: " ";
        display: block;
        width: 1px;
        height: 87px;
        border-right: 3px solid #63656d;
        position: absolute;
        left: 100%;
    }
}

.footer__menu {
    margin: 0 0 30px 0;
    padding: 0;
}

.footer__row-first__right {
    flex: 1;
    padding-left: 30px;
}
.contacts__list_footer {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}
.contacts__item_footer {
    margin-bottom: 10px;
}

.footer__row-second {
    background-color: rgba($color: $blue, $alpha: .7);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer__row-second_no-opacity {
    background-color: #2b58a4;
}
.footer__row-second__text {
    color: #fff;
    font: 16px Roboto-Light;
    text-align: center;
}



.footer__text_index {
    color: #fff;
    font: 16px Roboto-Light;
    text-align: center;
}