.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // background: url(../images/sky-bg.jpg) bottom center no-repeat;
    // background-size: cover;
    height: 100vh;
    min-height: 650px;
    overflow: hidden;
}

.scroll-parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/sky-bg.jpg) bottom center repeat-y; 
    background-size: cover;
    @include phonesL {
        background: url(../images/welcome-bg.jpg) center center no-repeat;
    }
}

.scroll-parallax__image {
    position: absolute;
    bottom: -70px;
    display: block;
    width: 100%;
    @include desktop {
        bottom: -40px;
    }
    @include tabletsL {
        bottom: -35px;
    }
    @include tablets {
        bottom: -30px;
        width: 150%;
    }
   
}

.header__socials {
    position: absolute;
    top: 30px;
    left: 30px;
    @include phones {
        top: 10px;
        left: 10px;
        z-index: 10;
    }
}
.header__title {
    // height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__user {
    position: relative;
    z-index: 10;
}

.user__pic {
    text-align: center;
    @include phonesL {
        margin-bottom: 10px;
    }
}

.user__pic-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.user__description {
    padding-top: 20px;
}

.user__name {
    color: #fff;
    font: 35px $rm;
    margin-bottom: 5px;
    text-align: center;
    @include phones {
        font-size: 21px;
        margin-bottom: 20px;
    }
}

.user__info {
    color: #fff;
    font-family: $rr;
    text-align: center;
    @include phones {
        font-size: 14px;
    }
}

.header-wrap-menu {
    background-color: rgba($color: #183669, $alpha: .8);
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    padding: 0;
    margin: 0; 
}

.header__menu-item_active::before {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    @include phonesL {
        width: 56px;
    }
}

.header__menu-link {
    font: 63px $sw;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    @include tablets {
    font-size: 3.5rem;    
    }
    @include phonesL {
    font-size: 2.5rem;    
    }
}

.cross {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    background: url(../sprites/cross.svg) center center no-repeat;

}

.hamburger {
    width: 40px;
    height: 40px;
    background: url(../sprites/hamburger.svg) center center no-repeat;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    &:hover {
        cursor: pointer;
    }
    @include phones {
        transform: scale(.65);
        top: 10px;
        right: 10px;
    }
}

.arrow-down {
    width: 30px;
    height: 20px;
    background: url(../sprites/arrow_down.svg) center center no-repeat;
}

.header__scroll-btn {
    position: absolute;
    bottom: 10%;
    &:hover {
        cursor: pointer;
    }
    &_works {
        position: absolute;
        bottom: 25%;
    }
    z-index: 20;
}

.stars_1 {
    width: 533px;
    height: 286px;
    background: url(../sprites/stars1.svg) left top no-repeat / contain;
    opacity: .1;    
    @include tablets {
        width: 300px;
    }
}

.header__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    @include tablets {
        transform: translateX(-53%) translateY(-47%);
    }
}

.header__rectangle {
    width: 100%;
    z-index: 10;
}

.header__polygon {
    display: block;
}
.header__polygon-left {
    fill: #f2f0e8;
    &_blog {
        fill: #faf8f0;
    }
    &_works {
        fill: #0d1120;
        fill-opacity: .7;
    }
}

.header__polygon-right {
    fill: #eae8e2;
    &_blog {
        fill: #faf8f0;
    }
    &_works {
        fill: #0d1120;
        fill-opacity: .7;
    }
    @include tablets {
        fill: #faf8f0;
    }
}

.header__rectangle-dark {
    background: url(../sprites/bg-dark.svg) center top / cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 57%;
    position: relative;
    @include tablets {
        height: 30%;
    }
}

.header__rectangle-title {
    font: 63px $sw;
    text-transform: uppercase;
    margin-bottom: 56px;
    @include tablets {
        margin-bottom: 38px;
        font-size: 48px;
    }
    @include phonesL {
        font-size: 35px;
    }
}

.header__rectangle-figure {
    position: absolute;
    bottom: 10px;
} 
.stars2 {
    width: 270px;
    height: 175px;
    background: url(../sprites/stars2-1.svg) center center no-repeat / cover;
    opacity: .1;
    @include tablets {
        width: 165px;
        height: 110px;
    }
}