.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: url(../images/welcome-bg.jpg) bottom center no-repeat;
    background-size: cover;
    height: 100vh;
}
.header__socials {
    position: absolute;
    top: 30px;
    left: 30px;
    @include phones {
        top: 10px;
        left: 10px;
        z-index: 10;
    }
}
.header__title {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header__user {
    z-index: 10;
}
.user__pic {
    text-align: center;
    @include phones {
        margin-bottom: 5px;
    }
}
.user__pic-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.user__description {
    padding-top: 20px;
}
.user__name {
    color: #fff;
    font: 35px Roboto-Medium;
    //margin-bottom: 5px;
    text-align: center;
    @include phones {
        font-size: 21px;
        margin-bottom: 10px;
    }
}
.user__name.big-title {
    @include tablets {
        font-size: 49px;
    }
}

.user__info {
    color: #fff;
    font: 16px Roboto-Regular;
    text-align: center;
    @include tablets {
        font-size: 14px;
    }
}
.header__menu {
    position: absolute;
    top: 30px;
    right: 30px;
    &:hover {
        cursor: pointer;
    }
    @include phones {
        top: 10px;
        right: 10px;
        z-index: 10;
    }
}
.hamburger {
    width: 40px;
    height: 40px;
    background: url(../sprites/hamburger.svg) center center no-repeat;
    @include phones {
        transform: scale(.65);
    }
}
.arrow-down {
    width: 30px;
    height: 20px;
    background: url(../sprites/arrow_down.svg) center center no-repeat;
}
.header__scroll-btn {
    position: absolute;
    bottom: 10%;
    &:hover {
        cursor: pointer;
    }
    &_works {
        position: absolute;
        bottom: 25%;
    }
}
.stars_1 {
    width: 490px;
    height: 290px;
    background: url(../sprites/stars1.svg) center center no-repeat / cover;
    opacity: .1;    
    @include tablets {
        width: 281px;
        height: 167px;
    }
}
.header__figure {
    position: absolute;
    top: 50%;
    margin-top: -160px;
    @include tablets {
        margin-top: -100px;
    }
}
.header__rectangle {
    width: 100%;
}

.header__polygon {
    display: block;
}
.header__polygon-left {
    fill: #f2f0e8;
    &_blog {
        fill: #faf8f0;
    }
    &_works {
        fill: #0d1120;
        fill-opacity: .7;
    }
}
.header__polygon-right {
    fill: #eae8e2;
    &_blog {
        fill: #faf8f0;
    }
    &_works {
        fill: #0d1120;
        fill-opacity: .7;
    }
    @include tablets {
        fill: #faf8f0;
    }
}

.header__rectangle-dark {
    background: url(../sprites/bg-dark.svg) center top / cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 57%;
    position: relative;
    @include tablets {
        height: 30%;
    }
}

.header__rectangle-title {
    margin-bottom: 56px;
    @include tablets {
        margin-bottom: 38px;
    }
}

.header__rectangle-title.big-title {
    @include tablets {
        font-size: 49px;
    }
}

.header__rectangle-figure {
    position: absolute;
    bottom: 10px;
} 
.stars2 {
    width: 270px;
    height: 175px;
    background: url(../sprites/stars2-1.svg) center center no-repeat / cover;
    opacity: .1;
    @include tablets {
        width: 165px;
        height: 110px;
    }
}