.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../images/welcome-bg.jpg) bottom center no-repeat;
    background-size: cover;
}
.header__socials {
    position: absolute;
    top: 30px;
    left: 30px;
}
.header__title {
    padding-top: 150px;
    z-index: 1;
    margin-bottom: 60px;
}
.user {
    
}
.user__pic {;
    text-align: center;
}
.user__pic-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.user__description {
    padding-top: 20px;
}
.user__name {
    color: #fff;
    font: 35px Roboto-Medium;
    margin-bottom: 5px;
    text-align: center;
}
.user__info {
    color: #fff;
    font: 16px Roboto-Regular;
    text-align: center;
}
.header__menu {
    position: absolute;
    top: 30px;
    right: 30px;
    &:hover {
        cursor: pointer;
    }
}
.hamburger {
    width: 40px;
    height: 40px;
    background: url(../sprites/hamburger.svg) center center no-repeat;
}
.arrow-down {
    width: 30px;
    height: 20px;
    background: url(../sprites/arrow_down.svg) center center no-repeat;
}
.header__scroll-btn {
    position: absolute;
    top: 500px;
    z-index: 1;
    &:hover {
        cursor: pointer;
    }
}
.stars_1 {
    width: 490px;
    height: 290px;
    background: url(../sprites/stars1.svg) center center no-repeat / cover;
    opacity: .1;    
}
.header__figure {
    position: absolute;
    top: 120px;
}
.header__rectangle {
    height: 180px;
    width: 100%;
}
.header__rectangle-light {
    background: url(../sprites/bg.svg) center top;
}
.header__rectangle-dark {
    background: url(../sprites/bg-dark.svg) center top / cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 340px;
    position: relative;
}

.header__rectangle-title {
    margin-bottom: 56px;
}

.header__rectangle-figure {
    position: absolute;
    bottom: 10px;
    //left: 40%;
} 
.stars2 {
        width: 270px;
        height: 175px;
        background: url(../sprites/stars2-1.svg) center center no-repeat / cover;
        opacity: .1;
}