.slider {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;}
.slider__item {
    display: none;
}
.slider__item-active {
    display: block;
}
.slider__img {
    display: block;
    margin: 0 auto;
    width: 70%;
    // height: 10%;
}