.slider {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
.slider__item {
    display: none;
}
.slider__item-active {
    display: block;
    width: 100%;
    padding-top: 10px;
}
.slider__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}