.social {
    list-style: none;
    width: 180px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__item {

}

.social__link {
    display: block;
}
.social__pic {
    fill: $blueLight;
    width: 30px;
    height: 30px;
    &:hover {
        fill: $blue;
    }
}
