/* Icons from directory "" */
.icon-about_bg_left,.icon-about_bg_left\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-about_bg_left-dims{width:266.27218934911px;height:300px}
.icon-about_bg_right,.icon-about_bg_right\:regular{background-image:url('icons/icons.svg');background-position:0 -300px;background-repeat:no-repeat}
.icon-about_bg_right-dims{width:267.32673267327px;height:300px}
.icon-about_header,.icon-about_header\:regular{background-image:url('icons/icons.svg');background-position:0 -600px;background-repeat:no-repeat}
.icon-about_header-dims{width:300px;height:105px}
.icon-arrow_down,.icon-arrow_down\:regular{background-image:url('icons/icons.svg');background-position:0 -705px;background-repeat:no-repeat}
.icon-arrow_down-dims{width:25px;height:16px}
.icon-bg,.icon-bg\:regular{background-image:url('icons/icons.svg');background-position:0 -721px;background-repeat:no-repeat}
.icon-bg-dims{width:300px;height:53px}
.icon-blog_header,.icon-blog_header\:regular{background-image:url('icons/icons.svg');background-position:0 -774px;background-repeat:no-repeat}
.icon-blog_header-dims{width:300px;height:207px}
.icon-check,.icon-check\:regular{background-image:url('icons/icons.svg');background-position:0 -981px;background-repeat:no-repeat}
.icon-check-dims{width:18px;height:14px}
.icon-envelope,.icon-envelope\:regular{background-image:url('icons/icons.svg');background-position:0 -995px;background-repeat:no-repeat}
.icon-envelope-dims{width:22px;height:17px}
.icon-envelope2,.icon-envelope2\:regular{background-image:url('icons/icons.svg');background-position:0 -1012px;background-repeat:no-repeat}
.icon-envelope2-dims{width:23px;height:16px}
.icon-envelope_n,.icon-envelope_n\:regular{background-image:url('icons/icons.svg');background-position:0 -1028px;background-repeat:no-repeat}
.icon-envelope_n-dims{width:45px;height:45px}
.icon-github,.icon-github\:regular{background-image:url('icons/icons.svg');background-position:0 -1073px;background-repeat:no-repeat}
.icon-github-dims{width:26px;height:22px}
.icon-github_round,.icon-github_round\:regular{background-image:url('icons/icons.svg');background-position:0 -1095px;background-repeat:no-repeat}
.icon-github_round-dims{width:50px;height:50px}
.icon-hamburger,.icon-hamburger\:regular{background-image:url('icons/icons.svg');background-position:0 -1145px;background-repeat:no-repeat}
.icon-hamburger-dims{width:40px;height:35px}
.icon-in,.icon-in\:regular{background-image:url('icons/icons.svg');background-position:0 -1180px;background-repeat:no-repeat}
.icon-in-dims{width:24px;height:23px}
.icon-in_round,.icon-in_round\:regular{background-image:url('icons/icons.svg');background-position:0 -1203px;background-repeat:no-repeat}
.icon-in_round-dims{width:50px;height:50px}
.icon-link,.icon-link\:regular{background-image:url('icons/icons.svg');background-position:0 -1253px;background-repeat:no-repeat}
.icon-link-dims{width:19px;height:19px}
.icon-login,.icon-login\:regular{background-image:url('icons/icons.svg');background-position:0 -1272px;background-repeat:no-repeat}
.icon-login-dims{width:14px;height:15px}
.icon-map_marker,.icon-map_marker\:regular{background-image:url('icons/icons.svg');background-position:0 -1287px;background-repeat:no-repeat}
.icon-map_marker-dims{width:15px;height:22px}
.icon-map_n,.icon-map_n\:regular{background-image:url('icons/icons.svg');background-position:0 -1309px;background-repeat:no-repeat}
.icon-map_n-dims{width:45px;height:45px}
.icon-password,.icon-password\:regular{background-image:url('icons/icons.svg');background-position:0 -1354px;background-repeat:no-repeat}
.icon-password-dims{width:17px;height:16px}
.icon-phone,.icon-phone\:regular{background-image:url('icons/icons.svg');background-position:0 -1370px;background-repeat:no-repeat}
.icon-phone-dims{width:19px;height:19px}
.icon-phone2,.icon-phone2\:regular{background-image:url('icons/icons.svg');background-position:0 -1389px;background-repeat:no-repeat}
.icon-phone2-dims{width:16px;height:21px}
.icon-phone_n,.icon-phone_n\:regular{background-image:url('icons/icons.svg');background-position:0 -1410px;background-repeat:no-repeat}
.icon-phone_n-dims{width:45px;height:45px}
.icon-portf_arrow_down,.icon-portf_arrow_down\:regular{background-image:url('icons/icons.svg');background-position:0 -1455px;background-repeat:no-repeat}
.icon-portf_arrow_down-dims{width:43px;height:27px}
.icon-portf_arrow_up,.icon-portf_arrow_up\:regular{background-image:url('icons/icons.svg');background-position:0 -1482px;background-repeat:no-repeat}
.icon-portf_arrow_up-dims{width:43px;height:27px}
.icon-portfolio_header,.icon-portfolio_header\:regular{background-image:url('icons/icons.svg');background-position:0 -1509px;background-repeat:no-repeat}
.icon-portfolio_header-dims{width:300px;height:80px}
.icon-skype,.icon-skype\:regular{background-image:url('icons/icons.svg');background-position:0 -1589px;background-repeat:no-repeat}
.icon-skype-dims{width:24px;height:24px}
.icon-skype_n,.icon-skype_n\:regular{background-image:url('icons/icons.svg');background-position:0 -1613px;background-repeat:no-repeat}
.icon-skype_n-dims{width:300px;height:300px}
.icon-stars1,.icon-stars1\:regular{background-image:url('icons/icons.svg');background-position:0 -1913px;background-repeat:no-repeat}
.icon-stars1-dims{width:187px;height:111px}
.icon-stars2,.icon-stars2\:regular{background-image:url('icons/icons.svg');background-position:0 -2024px;background-repeat:no-repeat}
.icon-stars2-dims{width:172px;height:133px}
.icon-stars3,.icon-stars3\:regular{background-image:url('icons/icons.svg');background-position:0 -2157px;background-repeat:no-repeat}
.icon-stars3-dims{width:103px;height:124px}
.icon-telegram_logo,.icon-telegram_logo\:regular{background-image:url('icons/icons.svg');background-position:0 -2281px;background-repeat:no-repeat}
.icon-telegram_logo-dims{width:239px;height:239px}
.icon-vk,.icon-vk\:regular{background-image:url('icons/icons.svg');background-position:0 -2520px;background-repeat:no-repeat}
.icon-vk-dims{width:30px;height:17px}
.icon-vk_round,.icon-vk_round\:regular{background-image:url('icons/icons.svg');background-position:0 -2537px;background-repeat:no-repeat}
.icon-vk_round-dims{width:50px;height:50px}
.icon-works_header,.icon-works_header\:regular{background-image:url('icons/icons.svg');background-position:0 -2587px;background-repeat:no-repeat}
.icon-works_header-dims{width:300px;height:98px}